[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
waitress = "*"
v = {editable = true,version = "*"}

[packages]
flask = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
requests = "*"
dlib = {path = "./dlib-19.17.0-cp36-cp36m-win_amd64.whl"}
face-recognition = "*"

[pipenv]
allow_prereleases = true
