[Unit]
Description=Gunicorn instance to serve api
After=network.target
[Service]
User=tianheng
Group=www-data
WorkingDirectory=/home/tianheng/vue-flask-sqlalchemy/backend
ExecStart=/home/tianheng/.local/bin/pipenv run gunicorn --workers 3 --bind unix:/home/tianheng/vue-flask-sqlalchemy/backend/app.sock -m 007 wsgi:app
[Install]
WantedBy=multi-user.target