[Unit]
Description=uWSGI Python container server  
After=network.target

[Service]
User=tianheng
Group=www-data
WorkingDirectory=/home/tianheng/vue-flask-sqlalchemy/backend
Environment="PATH=/home/tianheng/.local/bin"  
ExecStart=/home/tianheng/.local/bin/uwsgi --ini app.ini

[Install]
WantedBy=multi-user.target